<div class="container-fluid">
    <p class="guide-message"></p>
    <div class="text-center">
        <h3>Set Item as Broken</h3>
        <p>By finishing this action you will set the item as broken and store it in the place that you choose.</p>
    </div>
    <form action=" " id="stockMove-form">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ item.pk }}">
        <div class="form-group mb-3">
            <label for="zone" class="control-label">Zones</label>
            <select class="form-control rounded-0" name="zone" id="zone">
                {% for zone in zones %}
                    {% if zone.id != stock.zone.id %}
                        <option value="{{ zone.id }}"> {{zone.location.name}} - {{ zone.name }}</option>
                    {% else %}
                        <option value="{{ zone.id }}" selected> {{zone.location.name}} - {{ zone.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </form>
</div>
{% comment %} {% load crispy_forms_tags %}
<div class="container-fluid">
    <form method="post" id="stockMove-form">
        {% csrf_token %}
        {{ form|crispy }}
    </form>
</div> {% endcomment %}
<script>
    if (typeof stock_info === 'undefined'){
        $(function() {
            $('#stockMove-form').submit(function(e) {
                e.preventDefault();
                var _this = $(this)
                $('.err-msg').remove();
                var el = $('<div>')
                el.addClass("alert alert-danger err-msg")
                el.hide()
                if (_this[0].checkValidity() == false) {
                    _this[0].reportValidity();
                    return false;
                }
                start_loader();
                $.ajax({
                    url: "{% url 'broken' %}",
                    data: new FormData($(this)[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    method: 'POST',
                    type: 'POST',
                    dataType: 'json',
                    error: err => {
                        console.log(err)
                        alert("An error occured ", 'error');
                        end_loader();
                    },
                    success: function(resp) {
                        if (typeof resp == 'object' && resp.status == 'success') {
                            el.removeClass("alert alert-danger err-msg ")
                            location.reload()
                        } else if (resp.status == 'failed' && !!resp.msg) {
                            el.html(resp.msg)
                        } else {
                            el.text("An error occured ", 'error');
                            end_loader();
                            console.err(resp)
                        }
                        _this.prepend(el)
                        el.show('slow')
                        $("html, body, .modal ").scrollTop(0);
                        end_loader()
                    }
                })
            })
        })
    }
</script>