{% extends 'inventory/base.html' %}

{% block content %}
{% load humanize %}
{% load custom_tags %}
<div class="container-fluid">
    <div class="header position-relative d-flex align-items-center">
        <div class="d-flex align-items-center w-100">
            <h3 class="card-title dark-text fw-normal me-3">Items</h4>
            {% if user|has_group:"admin" or user|has_group:"technician" %}    
                <div class="tools">
                    <button type="button" class="btn btn-bg-dark rounded-xl bg-gradient btn-sm" id='add_new'><i class="fa fa-plus"></i> New Item</button>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="body">
        <div class="table-container-list">

            <table class="table table-sm table-responsive table-hover" style="width:100%" id="item-list"> {% comment %} display compact {% endcomment %}
                <thead class="">
                    <tr class="">
                        <th class="text-center dark-text">#</th>
                        <th class="text-center dark-text">Category</th>
                        <th class="text-center dark-text">Sub-category</th>
                        <th class="text-center dark-text">Item</th>
                        <th class="text-center dark-text">Producer</th>
                        <th class="text-center dark-text">Part Number</th>
                        <th class="text-center dark-text">Serial Number</th>
                        <th class="text-center dark-text">Status</th>
                        <th class="text-center dark-text">Place</th>
                        <th class="text-center dark-text">{% if user|has_group:"admin" or user|has_group:"technician" %} Actions {% else %} Details {% endif %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td class="align-canter text-center light-text">{{ forloop.counter }}</td>
                        <td class="align-canter text-center light-text">{% if item.part_number.group.sub_category.category is not None %}{{ item.part_number.group.sub_category.category.name }}{% else %}{{item.part_number.group.sub_category.category}}{% endif %}</td>
                        <td class="align-canter text-center light-text">{% if item.part_number.group.sub_category is not None %}{{ item.part_number.group.sub_category.name }}{% else %}{{item.part_number.group.sub_category}}{% endif %}</td>
                        <td class="align-canter text-center light-text">{% if item.part_number.group is not None %}{{ item.part_number.group.name }}{% else %}{{item.part_number.group}}{% endif %}</td>
                        <td class="align-canter text-center light-text">{% if item.producer is not None %}{{ item.producer.name }}{% else %} - {% endif %}</td>
                        <td class="align-canter text-center light-text" >{% if item.part_number.code is not None and item.part_number.code != '' %}{{item.part_number.code}}{% else %} - {% endif %}</td>
                        <td class="align-canter text-center light-text">{% if item.serial_number is not None and item.serial_number != '' %}{{item.serial_number}}{% else %} - {% endif %}</td>
                        <td class="align-canter text-center light-text"><div {% if item.status is not None %} class="{{item.status.name|lower}}" {% endif %}>{% if item.status is not None %}{{ item.status.name }}{% else %} - {% endif %}</div></td>
                        <td class="align-canter text-center light-text">{% if item.status and item.status.name == 'Stored' or item.status and item.status.name == 'Broken' %}{% if item.get_stockObject.zone.location.name == "Commissioning container" %} CC {% else %}{{item.get_stockObject.zone.location.name}}{% endif %}{%elif item.telescope is not None %}{{ item.telescope.telescope.name }} - {{item.telescope.name}}{% else %} - {% endif %}</td>
                        <td class="align-center text-center light-text d-flex flex-wrap justify-content-around">
                            <div>
                                {% if user|has_group:"technician" or user|has_group:"admin" %}
                                    <button class="btn btn-sm selected edit-data" data-id="{{item.pk}}" title="Edit item">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                {% endif %}
                                <button type="button" class="btn btn-bg-dark btn-sm item-data {% if not user|has_group:'technician' and not user|has_group:'admin' %} widerIcon {% endif %}" href="javascript:void(0)" data-id="{{ item.pk }}" data-name = "{{item.part_number.group.name}}{%if item.part_number.code is not None%}/{{item.part_number.code}}{%elif item.serial_data is not None%}/{{item.serial_data}}{% endif %}" title="Item information">
                                    <i class="fa fa-info-circle"></i>
                                </button>
                                {% if user|has_group:"technician" or user|has_group:"admin" %}
                                    </div>
                                    <div class="mt-1">
                                        {% if item.status.name != 'Broken' %}
                                            <button type="button" class="btn btn-sm oldPill {% if not user|has_group:'admin' %} widerIcon {% endif %} brokenItem" href="javascript:void(0)" data-id="{{ item.pk }}" title="Set as broken">
                                                <i class="fa fa-chain-broken"></i>
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-sm selected {% if not user|has_group:'admin' %} widerIcon {% endif %} fixedItem" href="javascript:void(0)" data-id="{{ item.pk }}" title="Set as fixed">
                                                <i class="fa fa-wrench"></i>
                                            </button>

                                        {% endif %}
                                        {% if user|has_group:"admin" %}
                                            <button class="btn btn-sm highlight-color delete-data" data-id="{{item.pk}}" title="Delete item">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        {% endif %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block ScriptBlock %}
<script>
    let tBody = document.querySelector('tbody')
    let body = document.querySelector('body')
    let categories = {{ categories | safe }}
    let subCategories = {{ subCategories | safe }}
    let groups = {{ groups | safe }}
    let producers = {{ producers | safe }}
    let telescopes = {{ telescopes | safe }}
    let telescope_structures = {{ telescope_structures | safe }}
    let statuses = {{ statuses | safe }}
    let items_data = JSON.parse('{{ item_data | safe}}') //Maybe it is not needed
    let userGroups = {{ userGroups | safe }}
    $(function() {
        $('#add_new').click(function() {
            let headerDiv = document.createElement('div')
            headerDiv.classList.add("cardHeader")
            let title = document.createElement('h4')
            title.classList.add('dark-text')
            title.innerHTML = "New Item"
            let addIcon = document.createElement('i')
            addIcon.classList.add('fa', 'fa-plus')
            let anchor = document.createElement('div')
            let titleDiv = document.createElement('div')
            titleDiv.classList.add('titleDiv')
            titleDiv.appendChild(addIcon)
            titleDiv.appendChild(title)
            anchor.classList.add('btn', 'highlight-color', 'dark-text', 'close')
            anchor.addEventListener('click', (e)=>{
                $('#uni_modal').modal('hide');
            })
            let icon = document.createElement('i')
            icon.classList.add('fa', 'fa-times')
            anchor.appendChild(icon)
            headerDiv.appendChild(titleDiv)
            headerDiv.appendChild(anchor)
            uni_modal(headerDiv, '{% url "manage-item" %}', 'modal-md')
            let modalFooter = document.querySelector('.modal-footer')
            modalFooter.innerHTML = ''
            if(modalFooter.classList.contains('hidden')){
                modalFooter.classList.remove('hidden')
            }
            let createButton = document.createElement('button')
            createButton.classList.add('btn', 'selected', 'edit')
            let createIcon = document.createElement('i')
            createIcon.classList.add('fa', 'fa-plus')
            createButton.appendChild(createIcon)
            let createPar = document.createElement('p')
            createPar.appendChild(document.createTextNode('Create'))
            createButton.appendChild(createPar)
            createButton.addEventListener('click', (e)=>{
                let groupSelect = document.querySelector('#selectedGroupId')
                if(groupSelect.value != ""){
                    $('#uni_modal form').submit()
                }else{
                    let el = document.querySelector('.err-msg')
                    if(el.innerHTML == ""){
                        el.classList.add("alert", "alert-danger")
                        el.appendChild(document.createTextNode('Please select an item.'))
                    }
                }
            })
            modalFooter.appendChild(createButton)

        })
        $('.item-data').click(function(e) {
            let id = e.target.dataset.id
            let baseUrl = "{% url 'item_record' 0 %}";
            let finalUrl = baseUrl.replace('0', id);
            let headerDiv = document.createElement('div')
            headerDiv.classList.add("cardHeader")
            let title = document.createElement('h4')
            title.classList.add('dark-text')
            title.innerHTML = "Item Information"
            let anchor = document.createElement('div')
            anchor.classList.add('btn', 'highlight-color', 'dark-text', 'close')
            anchor.addEventListener('click', (e)=>{
                $('#uni_modal').modal('hide');
            })
            let icon = document.createElement('i')
            icon.classList.add('fa', 'fa-times')
            anchor.appendChild(icon)
            headerDiv.appendChild(title)
            headerDiv.appendChild(anchor)
            uni_modal(headerDiv, finalUrl, 'modal-md')
            let ref = "{% url 'item_list' %}"
            let modalFooter = document.querySelector('.modal-footer')
            modalFooter.innerHTML = ''
            if(modalFooter.classList.contains('hidden')){
                modalFooter.classList.remove('hidden')
            }
            let editButton = document.createElement('button')
            editButton.classList.add('btn', 'selected', 'edit')
            let editIcon = document.createElement('i')
            editIcon.classList.add('fa', 'fa-edit')
            editButton.appendChild(editIcon)
            let editPar = document.createElement('p')
            editPar.appendChild(document.createTextNode('Edit'))
            editButton.appendChild(editPar)
            editButton.addEventListener('click', ()=>{
                editItem(e, id, modalFooter, headerDiv, finalUrl, false, editButton, deleteButton)
            })
            let deleteButton = document.createElement('button')
            deleteButton.classList.add('btn', 'highlight-color', 'edit')
            let deleteIcon = document.createElement('i')
            deleteIcon.classList.add('fa', 'fa-trash')
            deleteButton.appendChild(deleteIcon)
            let deletePar = document.createElement('p')
            deletePar.appendChild(document.createTextNode('Delete'))
            deleteButton.appendChild(deletePar)
            deleteButton.addEventListener('click', ()=>{
                let modal = document.querySelector('#uni_modal')
                if(modal != null){
                    modal.style.zIndex = 'auto'
                    _conf("Do you want to delete this Item permanently?", "delete_item", [id]);
                }else{
                    console.log('No modal found')
                }
            })
            {% if user|has_group:"admin" or user|has_group:"technician" %}
                if(modalFooter.classList.contains('hidden')){
                    modalFooter.classList.remove('hidden')
                }
                modalFooter.appendChild(editButton)
                {% if user|has_group:"admin" %}
                    modalFooter.appendChild(deleteButton)
                {% endif %}
            {% else %}
                if(!modalFooter.classList.contains('hidden')){
                    modalFooter.classList.add('hidden')
                }
            {% endif %}
            {% if item.producer.pk is not None%}
                $('#uni_modal').on('shown.bs.modal', function() {
                    let producerBtn = document.querySelector('.producerBtn')
                    if (producerBtn != null){
                        producerBtn.addEventListener('click', (e)=>{
                            e.preventDefault()
                            $('#uni_modal').modal('hide');
                            setTimeout(()=>{
                                let headerDiv = document.createElement('div')
                                headerDiv.classList.add("cardHeader")
                                let title = document.createElement('h4')
                                title.classList.add('dark-text')
                                title.innerHTML = "Producer Information"
                                let anchor = document.createElement('div')
                                anchor.classList.add('btn', 'highlight-color', 'dark-text', 'close')
                                anchor.addEventListener('click', (e)=>{
                                    $('#uni_modal').modal('hide');
                                    let headerDiv = document.createElement('div')
                                    headerDiv.classList.add("cardHeader")
                                    let title = document.createElement('h4')
                                    title.classList.add('dark-text')
                                    title.innerHTML = "Item Information"
                                    let anchor = document.createElement('div')
                                    anchor.classList.add('btn', 'highlight-color', 'dark-text', 'close')
                                    anchor.addEventListener('click', (e)=>{
                                        $('#uni_modal').modal('hide');
                                    })
                                    let icon = document.createElement('i')
                                    icon.classList.add('fa', 'fa-times')
                                    anchor.appendChild(icon)
                                    headerDiv.appendChild(title)
                                    headerDiv.appendChild(anchor)
                                    setTimeout(()=>{
                                        {% if user|has_group:"admin" or user|has_group:"technician" %}
                                            if(modalFooter.classList.contains('hidden')){
                                                modalFooter.classList.remove('hidden')
                                            }
                                        {% endif %}
                                        uni_modal(headerDiv, finalUrl, 'modal-md')
                                    }, 300)
                                })
                                let icon = document.createElement('i')
                                icon.classList.add('fa', 'fa-arrow-left')
                                anchor.appendChild(icon)
                                headerDiv.appendChild(title)
                                headerDiv.appendChild(anchor)
                                uni_modal(headerDiv, "{% url 'producer_record' item.producer.pk %}", 'modal-md')
                                modalFooter.classList.add('hidden')
                            }, 300)
                        })
                    }
                })
                $('#confirm_modal').on('hidden.bs.modal', function(){
                    let modal = document.querySelector('#uni_modal')
                    if(modal != null){
                        modal.style.zIndex = ""
                    }
                })
            {% endif %}
        })
        $('.edit-data').on('click', function(e){
            let id = e.target.dataset.id
            let baseUrl = "{% url 'item_record' 0 %}";
            let finalUrl = baseUrl.replace('0', id);
            let modalFooter = document.querySelector('.modal-footer')
            let headerDiv = document.createElement('div')
            headerDiv.classList.add("cardHeader")
            editItem(e, id, modalFooter, headerDiv, finalUrl, true)
        })
        $('.delete-data').on('click', function(e){
            let id = e.target.dataset.id
            let modal = document.querySelector('#uni_modal')
            if(modal != null){
                modal.style.zIndex = 'auto'
                _conf("Do you want to delete this Item permanently?", "delete_item", [id]);
                let confirmButton = document.querySelector('#confirm_modal #confirm')
                if(confirmButton.classList.contains('highlight-color')){
                    confirmButton.classList.remove('highlight-color')
                    confirmButton.classList.add('selected')
                    confirmButton.innerHTML = 'Confirm'
                }
                let closeButton = document.querySelector('#confirm_modal #close')
                if(closeButton.classList.contains('selected')){
                    closeButton.classList.remove('selected')
                    closeButton.classList.add('highlight-color')
                }
            }else{
                console.log('No modal found')
            }
        })
        $('.fixedItem').on('click', function(e){
            let id = e.target.dataset.id
            let modal = document.querySelector('#uni_modal')
            if(modal != null){
                modal.style.zIndex = 'auto'
                _conf("Do you want to set this item as fixed?", "fix_item", [id]);
                let confirmButton = document.querySelector('#confirm_modal #confirm')
                if(confirmButton.classList.contains('highlight-color')){
                    confirmButton.classList.remove('highlight-color')
                    confirmButton.classList.add('selected')
                    confirmButton.innerHTML = 'Confirm'
                }
                let closeButton = document.querySelector('#confirm_modal #close')
                if(closeButton.classList.contains('selected')){
                    closeButton.classList.remove('selected')
                    closeButton.classList.add('highlight-color')
                }
            }else{
                console.log('No modal found')
            }
        })
        $('.brokenItem').on('click', function(e){
            setTimeout(()=>{
                let modalFooter = document.querySelector('.modal-footer')
                let headerDiv = document.createElement('div')
                headerDiv.classList.add("cardHeader")
                let title = document.createElement('h4')
                title.classList.add('dark-text')
                title.innerHTML = "Broken Item"
                let anchor = document.createElement('div')
                anchor.classList.add('btn', 'highlight-color', 'dark-text', 'close')
                anchor.addEventListener('click', (e)=>{
                    $('#uni_modal').modal('hide');
                    modalFooter.innerHTML = ""
                })
                let icon = document.createElement('i')
                icon.classList.add('fa', 'fa-times')
                anchor.appendChild(icon)
                headerDiv.appendChild(title)
                headerDiv.appendChild(anchor)
                let id = e.target.dataset.id
                baseUrl = "{% url 'broken' 0 %}"
                let finalUrl = baseUrl.replace('0', id);
                uni_modal(headerDiv, finalUrl, 'modal-md')
                brokenButton = document.createElement('button')
                brokenButton.classList.add('btn', 'highlight-color', 'edit')
                let brokenIcon = document.createElement('i')
                brokenIcon.classList.add('fa', 'fa-chain-broken')
                brokenButton.appendChild(brokenIcon)
                let brokenPar = document.createElement('p')
                brokenPar.appendChild(document.createTextNode('Set as Broken'))
                brokenButton.appendChild(brokenPar)
                brokenButton.addEventListener('click', ()=>{
                    $('#uni_modal form').submit()
                })
                modalFooter.appendChild(brokenButton)
            }, 300)
        })
        //Missing headerDiv and finalUrl
        const editItem = (e, id, modalFooter, headerDiv, finalUrl, small=false, editButton=null, deleteButton=null)=>{
            $('#uni_modal').modal('hide');
            let div = document.createElement('div')
            div.classList.add("cardHeader")
            let title = document.createElement('h4')
            title.classList.add('dark-text')
            title.innerHTML = "Edit Item"
            let anchor = document.createElement('div')
            let editIcon = document.createElement('i')
            editIcon.classList.add('fa', 'fa-edit')
            anchor.classList.add('btn', 'highlight-color', 'dark-text', 'close')
            let icon = document.createElement('i')
            if(!small){
                anchor.addEventListener('click', (e)=>{
                    $('#uni_modal').modal('hide');
                    setTimeout(()=>{
                        uni_modal(headerDiv, finalUrl, 'modal-md')
                        modalFooter.innerHTML = ''
                        {% if user|has_group:"admin" or user|has_group:"technician" %}
                            if(modalFooter.classList.contains('hidden')){
                                modalFooter.classList.remove('hidden')
                            }
                            modalFooter.appendChild(editButton)
                            {% if user|has_group:"admin" %}
                                modalFooter.appendChild(deleteButton)
                            {% endif %}
                        {% else %}
                            if(!modalFooter.classList.contains('hidden')){
                                modalFooter.classList.add('hidden')
                            }
                        {% endif %}
                    }, 300)
                })
                icon.classList.add('fa', 'fa-arrow-left')
            }else{
                anchor.addEventListener('click', (e)=>{
                    $('#uni_modal').modal('hide');
                })
                icon.classList.add('fa', 'fa-times')
            }
            let titleDiv = document.createElement('div')
            titleDiv.classList.add('titleDiv')
            titleDiv.appendChild(editIcon)
            titleDiv.appendChild(title)
            anchor.appendChild(icon)
            div.appendChild(titleDiv)
            div.appendChild(anchor)
            setTimeout(()=>{uni_modal(div, '{% url "manage-item" %}' + id, 'modal-md')}, 300)
            modalFooter.innerHTML = ''
            let saveButton = document.createElement('button')
            saveButton.classList.add('btn', 'selected', 'edit')
            let saveIcon = document.createElement('i')
            saveIcon.classList.add('fa', 'fa-check')
            saveButton.appendChild(saveIcon)
            let savePar = document.createElement('p')
            savePar.appendChild(document.createTextNode('Save'))
            saveButton.appendChild(savePar)
            saveButton.addEventListener('click', (e)=>{
                $('#uni_modal form').submit()
            })
            modalFooter.appendChild(saveButton)
        }
        //remove the default 'Search' text for all DataTable search boxes
        $.extend(true, $.fn.dataTable.defaults, {
            language: {
                search: ""
            }
        });
        let table = $('#item-list').DataTable({
            dom: '<"top1"<"top1Start"><"top1End"Bf>>t<"bottom"<"bottomStart"i><"bottomCenter"l><"bottomEnd"p>>',
            buttons: [{
                extend: 'copy',
                exportOptions: {
                    columns: ':not(:eq(9))'
                }
            },
            {
                extend: 'csv',
                exportOptions: {
                    columns: ':not(:eq(9))'
                }
            },
            {
                extend: 'excel',
                exportOptions: {
                    columns: ':not(:eq(9))'
                }
            },
            {
                extend: 'print',
                exportOptions: {
                    columns: ':not(:eq(9))'
                }
            }],
            columnDefs: [
                {orderable: false, targets: [0,4,5,6,7,8,9]},
                {
                    targets: 0,
                    serchable: false,
                    render: function(data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                {targets: [4,8],
                    render: function(data, type, row) {
                        return '<div class="text-truncate" style="max-width: 100px;">' + data + '</div>';
                    }
                }
            ],
            //This is the function that updates the numbering when filter is applied
            drawCallback: function(settings) {
                var api = this.api();
                api.rows({ page: 'current' }).every(function (rowIdx, tableLoop, rowLoop) {
                    var data = this.data();
                    $('td:eq(0)', this.node()).html(rowLoop + 1);
                });
            }
            //order: [[3, 'asc']],
        });
        let tableDetail = $('#item-detail').DataTable({
            dom: '<"top1"<"top1Start"><"top1End"Bf>>t<"bottom"<"bottomStart"i><"bottomCenter"l><"bottomEnd"p>>',
            buttons: [{
                extend: 'copy',
            },
            {
                extend: 'csv',
            },
            {
                extend: 'excel',
            },
            {
                extend: 'print',
            }],
            columnDefs: [
                {orderable: false, targets: [0,2,3]},
                {
                    targets: 0,
                    serchable: false,
                    render: function(data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
            ],
            //This is the function that updates the numbering when filter is applied
            drawCallback: function(settings) {
                var api = this.api();
                api.rows({ page: 'current' }).every(function (rowIdx, tableLoop, rowLoop) {
                    var data = this.data();
                    $('td:eq(0)', this.node()).html(rowLoop + 1);
                });
            },
            order: [[1, 'asc']],
        });
        let data = table.data().toArray()
        let filterLabels = ['Category: ', 'Sub-category: ', 'Producer: ', 'Item: ', 'Status: ', 'Installed zone: ']
        let mainDiv = document.querySelector('.top1Start')
        let generalDiv = document.createElement('div')
        let input = null
        mainDiv.classList.add('filters')
        for (let labelIndex in filterLabels){
            let intIndex = parseInt(labelIndex)+1
            let label = filterLabels[labelIndex]
            let divInput = document.createElement('div')
            divInput.classList.add('filterInput')
            input = document.createElement('select')
            input.classList.add('rounded-pill')
            defaultOption = document.createElement('option')
            defaultOption.appendChild(document.createTextNode('All'))
            input.appendChild(defaultOption)
            let parsedLabel = label.replace(': ', '')
            input.setAttribute('id', parsedLabel)
            if(parsedLabel.toLowerCase().includes('sub')){
                input.addEventListener('change', (e)=>{
                    if (e.target.options[e.target.selectedIndex].text != 'All'){
                        table.column(2).search(e.target.options[e.target.selectedIndex].text).draw();
                    }else{
                        table.columns(2).search('').draw();
                    }
                })
                for (index in subCategories){
                    let option = document.createElement('option')
                    option.setAttribute('value', subCategories[index].id)
                    option .appendChild(document.createTextNode(subCategories[index].name))
                    input.appendChild(option)
                }
            }else if (parsedLabel.toLowerCase().includes('cat')){
                input.addEventListener('change', (e)=>{
                    if (e.target.options[e.target.selectedIndex].text != 'All'){
                        table.column(1).search(e.target.options[e.target.selectedIndex].text).draw();
                    }else{
                        table.columns(1).search('').draw();
                    }
                })
                for (index in categories){
                    let option = document.createElement('option')
                    option.setAttribute('value', categories[index].id)
                    option .appendChild(document.createTextNode(categories[index].name))
                    input.appendChild(option)
                }
            }else if(parsedLabel.toLowerCase().includes('pro')){
                input.addEventListener('change', (e)=>{
                    if (e.target.options[e.target.selectedIndex].text != 'All'){
                        table.column(4).search(e.target.options[e.target.selectedIndex].text).draw();
                    }else{
                        table.columns(4).search('').draw();
                    }
                })
                for (index in producers){
                    let option = document.createElement('option')
                    option.setAttribute('value', producers[index].id)
                    option .appendChild(document.createTextNode(producers[index].name))
                    input.appendChild(option)
                }
            }else if(parsedLabel.toLowerCase().includes('ite')){
                input.addEventListener('change', (e)=>{
                    if (e.target.options[e.target.selectedIndex].text != 'All'){
                        table.column(3).search(e.target.options[e.target.selectedIndex].text).draw();
                    }else{
                        table.columns(3).search('').draw();
                    }
                })
                for (index in groups){
                    let option = document.createElement('option')
                    option.setAttribute('value', groups[index].id)
                    option .appendChild(document.createTextNode(groups[index].name))
                    input.appendChild(option)
                }
            }else if(parsedLabel.toLowerCase().includes('tus')){
                input.addEventListener('change', (e)=>{
                    if (e.target.options[e.target.selectedIndex].text != 'All'){
                        table.column(7).search(e.target.options[e.target.selectedIndex].text).draw();
                    }else{
                        table.columns(7).search('').draw();
                    }
                })
                for (index in statuses){
                    let option = document.createElement('option')
                    option.setAttribute('value', statuses[index].id)
                    option .appendChild(document.createTextNode(statuses[index].name))
                    input.appendChild(option)
                }
            }else if(parsedLabel.toLowerCase().includes('zon')){
                input.addEventListener('change', (e)=>{
                    if (e.target.options[e.target.selectedIndex].text != 'All'){
                        table.column(8).search(e.target.options[e.target.selectedIndex].text).draw();
                    }else{
                        table.columns(8).search('').draw();
                    }
                })
                for (index in telescope_structures){
                    let option = document.createElement('option')
                    option.setAttribute('value', telescope_structures[index].id)
                    option .appendChild(document.createTextNode(telescope_structures[index].telescope__name+" - "+telescope_structures[index].name))
                    input.appendChild(option)
                }
            }
            let inputLabel = document.createElement('label')
            inputLabel.appendChild(document.createTextNode(label))
            inputLabel.setAttribute('for', parsedLabel)
            divInput.appendChild(inputLabel)
            divInput.appendChild(input)
            generalDiv.appendChild(divInput)
            if (intIndex % 2 === 0){
                mainDiv.appendChild(generalDiv)
                generalDiv = document.createElement('div')
            }
        }
        //custom format of Search boxes
        $('[type=search]').each(function () {
            $(this).attr("placeholder", "Search...");
            $(this).attr("autocomplete", "off");
            $(this).before('<span class="fa fa-search"></span>');
        });
        let top1End = document.querySelector('.top1End')
        let clearFilterButton = document.createElement('div')
        clearFilterButton.classList.add('btn', 'btn-clear', 'rounded-xl')
        clearFilterButton.appendChild(document.createTextNode('Clear filters'))
        clearFilterButton.addEventListener('click', ()=>{
            let inputs = document.querySelectorAll('.filterInput>select')
            inputs.forEach(input =>{
                let event = new Event('change');
                input.selectedIndex = 0
                input.dispatchEvent(event);
            })
            table.search('').draw();
        })
        top1End.appendChild(clearFilterButton)
    })

    function delete_item(id) {
        start_loader();
        var _this = $(this)
        $('.err-msg').remove();
        var el = $('<div>')
        el.addClass("alert alert-danger err-msg")
        el.hide()
        $.ajax({
            url: '{% url "delete-item" %}',
            headers: {'X-CSRFToken': "{{csrf_token}}"},
            method: 'POST',
            data: {id: id},
            dataType: 'json',
            error: err => {
                console.log(err)
                el.text('An error occurred.')
                el.show('slow')
                end_loader()
            },
            success: function(resp) {
                if (resp.status == 'success') {
                    location.reload()
                } else if (!!resp.msg) {
                    el.text('An error occurred.')
                    el.show('slow')
                } else {
                    el.text('An error occurred.')
                    el.show('slow')
                }
                end_loader()
            }
        })
    }
    function fix_item(id){
        start_loader();
        var _this = $(this)
        $('.err-msg').remove();
        var el = $('<div>')
        el.addClass("alert alert-danger err-msg")
        el.hide()
        $.ajax({
            url: '{% url "fix-item" %}',
            headers: {'X-CSRFToken': "{{csrf_token}}"},
            method: 'POST',
            data: {id: id},
            dataType: 'json',
            error: err => {
                console.log(err)
                el.text('An error occurred.')
                el.show('slow')
                end_loader()
            },
            success: function(resp) {
                if (resp.status == 'success') {
                    location.reload()
                } else if (!!resp.msg) {
                    el.text('An error occurred.')
                    el.show('slow')
                } else {
                    el.text('An error occurred.')
                    el.show('slow')
                }
                end_loader()
            }
        })
    }
</script>
{% endblock ScriptBlock %}