{% extends 'inventory/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="card mb-3 rounded-0 shadow">
        <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
                <h4 class="card-title fw-bold">Items list</h4>
                <div class="tools">
                    <button type="button" class="btn btn-primary rounded-0 bg-gradient btn-sm" id='add_new'><i class="fa fa-plus"></i> Add New</button>
                </div>
            </div>
        </div>
        <div class="card-body">
                <table class="table table-sm table-responsive table-bordered table-striped table-hover" style="width:100%" id="item-list"> {% comment %} display compact {% endcomment %}
                    <thead class="table-dark">
                        <tr class="table-dark">
                            <th class="text-center">#</th>
                            <th class="text-center">Crated at </br> [UTC]</th>
                            <th class="text-center">Created by</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Category</th>
                            <th class="text-center">Producer</th>
                            <th class="text-center">Model</th>
                            <th class="text-center">Serial(s)</th>
                            {% comment %} <th class="px-2 py-2 text-center">Price</th> {% endcomment %}
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td class="align-middle text-center">{{ forloop.counter }}</td>
                            <td class="align-middle text-center">{{ item.date_created|date:"d-m-Y H:i"}}</td>
                            <td class="align-middle text-center">{{ item.user }}</td>
                            <td class="align-middle text-center"><a href="{% url 'item_record' item.pk%}">{{ item }}</td>
                            <td class="align-middle text-center">{{ item.description }}</td>
                            <td class="align-middle text-center">{{ item.category }}</td>
                            <td class="align-middle text-center">{{ item.producer }}</td>
                            <td class="align-middle text-center">{{ item.model }}</td>
                            <td class="align-middle text-center">{{ item.split_serials }}</td>
                            {% comment %} <td class="px-1 py-1 align-middle text-center">
                                {% if product.status == '1' %}
                                <span class="badge bg-primary bg-gradient rounded-pill px-2">Active</span> {% else %}
                                <span class="badge bg-secondary bg-gradient rounded-pill px-2">Inactive</span> {% endif %}
                            </td> {% endcomment %}
                            {% comment %} <td class="px-2 py-1 align-middle text-end">{{ product.price|intcomma }}</td> {% endcomment %}
                            <td class="align-middle text-center">
                                <button type="button" class="btn btn-outline-info btn-sm edit-data" href="javascript:void(0)" data-id="{{ item.pk }}" title="Edit">
                                    EDIT
                                </button>
                                <button type="button" class="btn btn-outline-danger btn-sm delete-data" data-id="{{ item.pk }}" title="Delete">
                                    DELETE
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block ScriptBlock %}
<script>
    $(function() {
        $('#add_new').click(function() {
            uni_modal('<i class="fa fa-plus"></i> Add Item', '{% url "manage-item" %}', 'modal-md')
        })
        $('.edit-data').click(function() {
            uni_modal('<i class="fa fa-edit"></i> Edit Item', '{% url "manage-item" %}' + $(this).attr('data-id'), 'modal-md')
        })
        $('.delete-data').click(function() {
            _conf("Do you want to delete this Item permanently?", "delete_item", [$(this).attr('data-id')])
        })
        //remove the default 'Search' text for all DataTable search boxes
        $.extend(true, $.fn.dataTable.defaults, {
            language: {
                search: ""
            }
        });
        $('#item-list').DataTable({
            layout: {
                top1Start: {
                    buttons: ['copy', 'csv', 'excel', 'print']
                }
            },
            columnDefs: [
                {orderable: false, targets: [2,3,4,5,6,7,8,9]},
                {targets: [4,8], //  description column is the 5th column (index starts from 0)
                    render: function(data, type, row) {
                        return '<div class="text-truncate" style="max-width: 100px;">' + data + '</div>';
                    }
                }
            ]
        });
        //custom format of Search boxes
        $('[type=search]').each(function () {
            $(this).attr("placeholder", "Search...");
            $(this).before('<span class="fa fa-search"></span>');
        });
    })

    function delete_item($id) {
        start_loader();
        var _this = $(this)
        $('.err-msg').remove();
        var el = $('<div>')
        el.addClass("alert alert-danger err-msg")
        el.hide()
        $.ajax({
            url: '{% url "delete-item" %}',
            headers: {'X-CSRFToken': "{{csrf_token}}"},
            method: 'POST',
            data: {id: $id},
            dataType: 'json',
            error: err => {
                console.log(err)
                el.text('An error occurred.')
                el.show('slow')
                end_loader()
            },
            success: function(resp) {
                if (resp.status == 'success') {
                    location.reload()
                } else if (!!resp.msg) {
                    el.text('An error occurred.')
                    el.show('slow')
                } else {
                    el.text('An error occurred.')
                    el.show('slow')
                }
                end_loader()
            }
        })
    }
</script>
{% endblock ScriptBlock %}