{% extends "inventory/base.html" %}


{% block content %}

<div class="card">
    <div class="card-header"><strong>
        {{ item.code }}
        {{ item.name }}</strong>
    </div>
    <div class="card-body">
        <p class="card-text"><strong>Description: </strong>{{ item.description }}</p>
        <p class="card-text"><strong>Category: </strong>{{ item.category }}</p>
        <p class="card-text"><strong>Producer: </strong>{{ item.producer }}</p>
        <p class="card-text"><strong>Model: </strong>{{ item.model }}</p>
        <p class="card-text"><strong>In Stock: </strong>{{ item.count_inventory }}</p>
        {% comment %} <p class="card-text"><strong>Location: </strong>{{ stocks.area }} {{stocks.shelf}}</p> {% endcomment %}
        <p class="card-text"><strong>Serials:</strong></p>
        <ul>
            {% for serial in item.split_serials %}
                <li>{{ serial }}</li>
            {% endfor %}
        </ul>
        <p class="card-text"><strong>Create At: </strong>{{ item.date_created}}</p>
        <p class="card-text"><strong>Created By: </strong>{{ item.user}}</p>
    </div>
    <div class="card-footer">
        <a href="{% url 'item_list' %}" class="btn btn-secondary">Back</a>
    </div>
</div>

{% endblock content %}