
{% load humanize %}
{% load custom_tags %}
<div class="itemContent">
    <ul class="list-group list-group-flush ul-left">
        <li class="list-group-item"><strong>Part Number</strong> <br> {% if item.part_number.code is not None and item.part_number.code != '' %}{{item.part_number.code}}{% else %}None{% endif %}</li>
        <li class="list-group-item"><strong>Category</strong> <br> {{ item.part_number.group.sub_category.category.name }}</li>
        <li class="list-group-item"><strong>Sub-Category</strong> <br> {{ item.part_number.group.sub_category.name }}</li>
        <li class="list-group-item"><strong>Item</strong> <br> {{ item.part_number.group.name }}</li>
        <li class="list-group-item"><strong>Total Item Storage</strong> <br> {{ item.part_number.group_stock }}</li>
    </ul>
    <ul class="list-group list-group-flush ul-right">
        <li class="list-group-item"><strong>Serial Number</strong> <br> {% if item.serial_number is not None and item.serial_number != '' %}{{item.serial_number}}{% else %}None{% endif %}</li>
        <li class="list-group-item"><strong>Model</strong> <br> {{ item.model}}</li>
        <li class="list-group-item"><strong>Price</strong> <br> {% if item.price is not None %}{{ item.price | intcomma }} €{% else %}{{ item.price }}{% endif %}</li>
        <li class="list-group-item"><strong>Status</strong> <br> <div {% if item.status is not None %} class="{{item.status.name|lower}}" {% endif %}>{% if item.status is not None %}{{ item.status.name }}{% else %}{{item.status}}{% endif %}</div></li>
        <li class="list-group-item"><strong>Telescope</strong> <br> {% if item.telescope is not None %}{{ item.telescope.name }}{% else %}{{item.telescope}}{% endif %}</li>
    </ul>
</div>
{% if item.producer or item.datasheet_url %}
<h4>Related to this item</h4>
<div class="cards">
    {% if item.producer is not None and item.producer != '' %}
        <div class="card">
            <div class="cardContent">
                <strong>Producer</strong>
                {% if item.producer is not None %}{{ item.producer.name }}{% else %}{{item.producer}}{% endif %}
            </div>
            <button class="adminButton link producerBtn">View</button>
        </div>
    {% endif %}
    {% if item.datasheet_url is not None and item.datasheet_url != '' %}
        <div class="card">
            <div class="cardContent">
                <strong>Datasheet</strong>
            </div>
            <a href="{{item.datasheet_url}}" target="_blank" class="adminButton link">View</a>
        </div>
    {% endif %}
</div>
{% endif %}
