{% extends "inventory/base.html" %}


{% block content %}

<div class="card border-dark">
    <div class="card-header bg-primary"><strong>
        {{ item.code }}
        {{ item.name }}</strong>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Description</strong> <br> {{ item.description }}</li>
        <li class="list-group-item"><strong>Category</strong> <br> {{ item.category }}</li>
        <li class="list-group-item"><strong>Producer</strong> <br> {{ item.producer }}</li>
        <li class="list-group-item"><strong>Model</strong> <br> {{ item.model }}</li>
        <li class="list-group-item"><strong>In Stock</strong> <br> {{ item.count_inventory }}</li>
        <li class="list-group-item"><strong>Serials</strong> <br> {{ item.split_serials }}</li>
        <li class="list-group-item"><strong>Create At</strong> <br> {{ item.date_created}}</li>
        <li class="list-group-item"><strong>Created By</strong> <br> {{ item.user}}</li>
        <li class="list-group-item"><strong>Last Modify</strong> <br> {{ item.date_updated}}</li>
    </ul>
    <div class="card-footer">
        <a href="{% url 'item_list' %}" class="btn btn-primary">Back</a>
    </div>
</div>

{% endblock content %}