{% load custom_tags %}
<div class="container-fluid">
    <div class="err-msg"></div>
    <form action=" " id="item-form">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ item.id }}">
        {% if not item.id %}
            <div class="below">
                <div>
                    <label for="quantity">Specify the quantity of items to be created</label>
                    <input type="number" id="quantity" name="quantity" class="form-control rounded-0 text-center" min="1" value="1">
                </div>
            </div>
        {% endif %}
        <div class="inputs">
            <div class="inputsLeft">
                <div class="form-group mb-3 position-relative">
                    <label for="group" class="control-label">Item</label>
                    {% if not item.part_number.group %}
                        <input type="text" class="form-control rounded-0" id="groupSelector" placeholder="Type to filter the items" autocomplete="off">
                        <input type="hidden" id="selectedGroupId" name="group" value="">
                    {% else %}
                        <input type="text" class="form-control rounded-0" id="groupSelector" placeholder="Type to filter the items" value="{{item.part_number.group.name}}" autocomplete="off" {% if user|has_group:"technician" %}disabled{% endif %}>
                        <input type="hidden" id="selectedGroupId" name="group" value="{{item.part_number.group.id}}">
                    {% endif %}
                    <div class="groupOptionsContainer" hidden>
                        {% for group in groups %}
                            <p class="option" data-id="{{group.id}}">{{group.name}}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group mb-3 position-relative">
                    <label for="producerSelector" class="control-label">Producer</label>
                    {% if not item.producer %}
                        <input type="text" class="form-control rounded-0" id="producerSelector" placeholder="Type to filter the items" autocomplete="off">
                        <input type="hidden" id="selectedProducerId" name="producer" value="">
                    {% else %}
                        <input type="text" class="form-control rounded-0" id="producerSelector" placeholder="Type to filter the items" value="{{item.producer.name}}" autocomplete="off">
                        <input type="hidden" id="selectedProducerId" name="producer" value="{{item.producer.id}}">
                    {% endif %}
                    <div class="producerOptionsContainer" hidden>
                        {% for producer in producers %}
                            <p class="option" data-id="{{producer.id}}">{{producer.name}}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group mb-3 ">
                    <label for="part_number" class="control-label">Part Number</label>
                    {% if not item.part_number %}
                        <input type="text" class="form-control rounded-0" id="part_number" name="part_number_input" value="" disabled autocomplete="off" placeholder="Select an Item first">
                        <input type="hidden" id="part_numberId" name="part_number" value="">
                    {% else %}
                        <input type="text" class="form-control rounded-0" id="part_number" placeholder="Type to filter the items" value="{{item.part_number.code}}" autocomplete="off">
                        <input type="hidden" id="part_numberId" name="part_number" value="{{item.part_number.code}}">
                    {% endif %}
                    <div class="part_numberContainer" hidden>
                    </div>
                </div>
                <div class="form-group mb-3 ">
                    <label for="model" class="control-label">Model</label>
                    <input type="text" class="form-control rounded-0" id="model" name="model" value="{{ item.model }}">
                </div>
            </div>
            <div class="inputsRight">
                <div class="form-group mb-3 ">
                    <label for="price" class="control-label">Price Per Item</label>
                    <input type="number" step="0.01" class="form-control rounded-0" id="price" name="price" min="0" value="{{ item.price }}">
                </div>
                <div class="form-group mb-3 ">
                    <label for="expiration_date" class="control-label">Expiration date</label>
                    <input type="date" class="form-control rounded-0" id="expiration_date" name="expiration_date" min="{{today|date:"Y-m-d"}}" value="{{ item.expiration_date|date:'Y-m-d' }}">
                </div>
                <div class="form-group mb-3 ">
                    <label for="serial_number" class="control-label">Serial Number</label>
                    <input type="text" class="form-control rounded-0" id="serial_number" name="serial_number" value="{{ item.serial_number }}">
                </div>
                <div class="spacer hidden">
    
                </div>
                <div class="form-group mb-3 ">
                    <label for="datasheet_url" class="control-label">Datasheet Url</label>
                    <input type="text" class="form-control rounded-0" id="datasheet_url" name="datasheet_url" value="{{ item.datasheet_url }}">
                </div>
                <div class="form-group mb-3 hidden">
                    <label for="telescope" class="control-label">Telescope</label>
                    <select class="form-control rounded-0" name="telescope" id="telescope">
                        <option value="" {% if not item.telescope %} selected {% endif %}>-----</option>
                        {% for telescope in telescopes %}
                            <option value="{{ telescope.id }}" {% if telescope.id == item.telescope.id %} selected {% endif %}>{{ telescope.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    partNumber_data = {{partNumber_data | safe}}
    alertDiv = document.querySelector('.err-msg')
    $(document).ready(function() {
        $('#item-form').submit(function(e) {
            // preventing from page reload and default actions
            e.preventDefault();
            let groupValue = document.querySelector('#selectedGroupId')
            if(groupValue != null){
                var _this = $(this)
                //$('.err-msg').remove();
                var el = $('.err-msg')
                el.addClass("alert alert-danger err-msg")
                el.hide()
                if (_this[0].checkValidity() == false) {
                    _this[0].reportValidity();
                    return false;
                }
                start_loader();
                $.ajax({
                    url: "{% url 'add-item' %}",
                    data: new FormData($(this)[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    method: 'POST',
                    type: 'POST',
                    dataType: 'json',
                    error: err => {
                        console.log(err)
                        alert("An error occured ", 'error');
                        end_loader();
                    },
                    success: function(resp) {
                        if (typeof resp == 'object' && resp.status == 'success') {
                            el.removeClass("alert alert-danger err-msg ")
                            location.reload()
                        } else if (resp.status == 'failed' && !!resp.msg) {
                            el.html(resp.msg)
                        } else {
                            el.text("An error occured ", 'error');
                            end_loader();
                            console.log(resp)
                        }
                        _this.prepend(el)
                        el.show('slow')
                        $("html, body, .modal ").scrollTop(0);
                        end_loader()
                    }
                })
            }else{
                let el = $('#alert')
                el.addClass("alert alert-danger err-msg")
                el.innerHTML = "You must select an option, writting is just to filter."
            }
        })
    })
    quantityInput = document.getElementById('quantity')
    if (quantityInput != null){
        quantityInput.addEventListener('change', ()=>{
            let serialInput = document.getElementById('serial_number')
            let spacers = document.querySelectorAll('.spacer')
            if(quantityInput.value != 1){
                if(!serialInput.parentNode.classList.contains('hidden')){
                    serialInput.parentNode.classList.add('hidden')
                    serialInput.value = ''
                }
                spacers.forEach((spacer)=>{
                    if(spacer.classList.contains('hidden')){
                        spacer.classList.remove('hidden')
                    }
                })
            }else{
                spacers.forEach((spacer)=>{
                    if(!spacer.classList.contains('hidden')){
                        spacer.classList.add('hidden')
                    }
                })
                if(serialInput.parentNode.classList.contains('hidden')){
                    serialInput.parentNode.classList.remove('hidden')
                }
            }
        })
    }
    //New Filter and selector input -- Groups
    {% if user|has_group:"admin" or user|has_group:"technician" %}
        groupInput = document.querySelector('#groupSelector')
        groupOptionsContainer = document.querySelector('.groupOptionsContainer')
        selectedGroupId = document.querySelector('#selectedGroupId')
        groupOptions = [...groupOptionsContainer.children]
        groupInput.addEventListener('focus', (e)=>{
            if(alertDiv.childNodes.length > 0){
                alertDiv.classList.remove('alert-danger')
                alertDiv.innerHTML = ""
            }
            groupInput.value = ""
            setTimeout(()=>{groupOptionsContainer.removeAttribute('hidden')}, 150)
            groupOptionsContainer.innerHTML = ""
            groupOptions.forEach(value =>{
                    groupOptionsContainer.appendChild(value)
                })
        })
        groupInput.addEventListener('focusout', (e)=>{
            setTimeout(()=>{groupOptionsContainer.setAttribute('hidden', '')}, 150)
        })
        groupInput.addEventListener('input', (e)=>{
            groupOptionsContainer.innerHTML = ""
            if (groupInput.value.length > 0){
                let newValues = groupOptions.filter((element) => element.innerHTML.toLocaleLowerCase().includes(groupInput.value.toLocaleLowerCase()))
                if(newValues.length > 0){
                    newValues.forEach(value =>{
                        groupOptionsContainer.appendChild(value)
                    })
                }else{
                    let emptyPar = document.createElement('p')
                    emptyPar.appendChild(document.createTextNode('There is no matching items'))
                    emptyPar.classList.add('option')
                    emptyPar.setAttribute('disabled', '')
                    groupOptionsContainer.appendChild(emptyPar)
                }
            }else{
                groupOptions.forEach(value =>{
                    groupOptionsContainer.appendChild(value)
                })
            }
        })
        groupOptions.forEach(option =>{
            option.addEventListener('click', (e)=>{
                groupInput.value = e.target.innerHTML
                selectedGroupId.value = e.target.dataset.id
                selectedGroupId.dispatchEvent(new Event('change'))
                groupOptionsContainer.innerHTML = ""
                groupOptions.forEach(value =>{
                    groupOptionsContainer.appendChild(value)
                })
            })
        })
    {% endif %}
    //Filter Producers
    producerInput = document.querySelector('#producerSelector')
    producerOptionsContainer = document.querySelector('.producerOptionsContainer')
    selectedProducerId = document.querySelector('#selectedProducerId')
    producerOptions = [...producerOptionsContainer.children]

    producerInput.addEventListener('focus', (e)=>{
        if(alertDiv.childNodes.length > 0){
            alertDiv.classList.remove('alert-danger')
            alertDiv.innerHTML = ""
        }
        producerInput.value = ""
        setTimeout(()=>{producerOptionsContainer.removeAttribute('hidden')}, 150)
        producerOptionsContainer.innerHTML = ""
        producerOptions.forEach(value =>{
                producerOptionsContainer.appendChild(value)
            })
    })
    producerInput.addEventListener('focusout', (e)=>{
        setTimeout(()=>{producerOptionsContainer.setAttribute('hidden', '')}, 150)
    })
    producerInput.addEventListener('input', (e)=>{
        producerOptionsContainer.innerHTML = ""
        if (producerInput.value.length > 0){
            let newValues = producerOptions.filter((element) => element.innerHTML.toLocaleLowerCase().includes(producerInput.value.toLocaleLowerCase()))
            if(newValues.length > 0){
                newValues.forEach(value =>{
                    producerOptionsContainer.appendChild(value)
                })
            }else{
                let emptyPar = document.createElement('p')
                emptyPar.appendChild(document.createTextNode('There is no matching items'))
                emptyPar.classList.add('option')
                emptyPar.setAttribute('disabled', '')
                producerOptionsContainer.appendChild(emptyPar)
            }
        }else{
            producerOptions.forEach(value =>{
                producerOptionsContainer.appendChild(value)
            })
        }
    })
    producerOptions.forEach(option =>{
        option.addEventListener('click', (e)=>{
            producerInput.value = e.target.innerHTML
            selectedProducerId.value = e.target.dataset.id
            producerOptionsContainer.innerHTML = ""
            producerOptions.forEach(value =>{
                producerOptionsContainer.appendChild(value)
            })
        })
    })
    //Part_number selector
    let groupId = document.querySelector('#selectedGroupId')
    let part_numberInput = document.querySelector('#part_number')
    let part_numberId = document.querySelector('#part_numberId')
    let part_numberContainer = document.querySelector('.part_numberContainer')
    groupId.addEventListener('change', (e)=>{
        part_numberContainer.innerHTML = ""
        part_numberInput.removeAttribute('disabled')
        part_numberInput.placeholder = 'Select or type a new part number'
        if(partNumber_data[e.target.value] != null){
            partNumber_data[e.target.value].forEach(element=>{
                let p_part_number = document.createElement('p')
                p_part_number.classList.add('option')
                p_part_number.dataset.id = element.code
                p_part_number.appendChild(document.createTextNode(element.code))
                p_part_number.addEventListener('click', (e)=>{
                    part_numberInput.value = e.target.innerHTML
                    part_numberId.value = e.target.dataset.id
                })
                part_numberContainer.appendChild(p_part_number)
            })
        }
        part_numberInput.addEventListener('focus', (e)=>{
            part_numberInput.value = ""
            setTimeout(()=>{part_numberContainer.removeAttribute('hidden')}, 150)
        })
        part_numberInput.addEventListener('focusout', (e)=>{
            setTimeout(()=>{part_numberContainer.setAttribute('hidden', '')}, 150)
            if(part_numberId.value != part_numberInput.value){
                part_numberId.value = part_numberInput.value
            }
        })
    })
</script>