<div class="container-fluid">
    <form action=" " id="item-form">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ item.id }}">
        <div class="form-group mb-3 ">
            <label for="code" class="control-label">Item Code</label>
            <input type="text" class="form-control rounded-0" id="code" name="code" value="{{ item.code }}" required>
        </div>
        <div class="form-group mb-3 ">
            <label for="name" class="control-label">Item Name</label>
            <input type="text" class="form-control rounded-0" id="name" name="name" value="{{ item.name }}" required>
        </div>
        <div class="form-group mb-3">
            <label for="description" class="control-label">Description</label>
            <textarea class="form-control rounded-0" name="description" id="description" rows="5" required>{{ item.description }}</textarea>
        </div>
        <div class="form-group mb-3">
            <label for="category" class="control-label">Category</label>
            <select class="form-control rounded-0" name="category" id="category">
                <option value="" {% if not item.category %} selected {% endif %}>-----</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id == item.category.id %} selected {% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mb-3 ">
            <label for="producer" class="control-label">Producer</label>
            <select class="form-control rounded-0" name="producer" id="producer">
                <option value="" {% if not item.producer %} selected {% endif %}>-----</option>
                {% for producer in producers %}
                    <option value="{{ producer.id }}" {% if producer.id == item.producer.id %} selected {% endif %}>{{ producer.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mb-3 ">
            <label for="model" class="control-label">Model</label>
            <input type="text" class="form-control rounded-0" id="model" name="model" value="{{ item.model }}">
        </div>
        <div class="form-group mb-3 ">
            <label for="serials" class="control-label">Serials</label>
            <input type="text" class="form-control rounded-0" id="serials" name="serials" value="{{ item.split_serials }}">
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        $('#item-form').submit(function(e) {
            // preventing from page reload and default actions
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                url: "{% url 'add-item' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert("An error occured ", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg ")
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.html(resp.msg)
                    } else {
                        el.text("An error occured ", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal ").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>