<div class="container-fluid">
    <p class="guide-message"></p>
    <form action=" " id="stock-form">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ stock.pk }}">
        <input type="hidden" name="user" value="{{ stock.user }}">
        {% if operation is not None %}
            <input type="hidden" name="stock_type" value="{{operation}}">
        {% endif %}
        <div class="form-group mb-3 position-relative">
            <label for="item" class="control-label">Items</label>
            {% if stock.item is None %}
                <input type="text" class="form-control rounded-0" id="itemSelector" placeholder="Type to filter the items" autocomplete="false">
                <input type="hidden" id="selectedItemId" name="item" value="">
                <div class="itemOptionsContainer" hidden>
                    {% for item in items %}
                        <p class="option" data-id="{{item.id}}">{{item.part_number.group.name}} - {{item.id}}</p>
                    {% endfor %}
                </div>
            {% else %}
                <input type="text" id="item" value="{{stock.item.part_number.group.name}} - {{stock.item.pk}}" disabled>
            {% endif %}
        </div>
        
        <div class="form-group mb-3 {% if operation == 2 %} hidden {% endif %}">
            <label for="zone" class="control-label">Zones</label>
            <select class="form-control rounded-0" name="zone" id="zone">
                {% if operation == 1 %}
                    <option value="All" {% if not stock.zone %} selected {% endif %} disabled>-----</option>
                {% endif %}
                {% for zone in zones %}
                    <option value="{{ zone.id }}" {% if zone.id == stock.zone.id %} selected {% endif %}> {{zone.location.name}} - {{ zone.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="optionalInputs hidden">
            <p class="dark-text text-center mb-0" hidden>Please fill one or both of the fields below.</p>
            <div class="form-group mb-3 ">
                <label for="code" class="control-label">Part Number</label>
                <input type="text" class="form-control rounded-0" pattern="^[A-Za-z]+-[A-Za-z0-9]+$" title="Please follow this format (... = Might be more characters, X = Letters): XX...-XX45..." id="code" name="code" value="{{ item.code }}" required>
            </div>
            <div class="form-group mb-3 ">
                <label for="serial_number" class="control-label">Serial Number</label>
                <input type="text" class="form-control rounded-0" id="serial_number" pattern=".{4,}" title="Minimum 4 characters" name="serial_number" value="{{ item.serial_number }}" required>
            </div>
        </div>
        <div class="instalation {% if operation == 1 %} hidden {% endif %}">
            <label for="telescope">Place</label>
            <select class="form-control rounded-0" name="telescope" id="telescope">
                <option value="0" selected disabled>-----</option>
                <option value="None">None</option>
                {% for telescope in telescopes %}
                    <option value="{{telescope.id}}">{{telescope.telescope.name}} - {{telescope.name}}</option>
                {% endfor %}
            </select>
        </div>
            <input type="number" step="any" class="form-control rounded-0 text-end" id="quantity" name="quantity" value="1" hidden required>
    </form>
</div>
{% comment %} {% load crispy_forms_tags %}
<div class="container-fluid">
    <form method="post" id="stock-form">
        {% csrf_token %}
        {{ form|crispy }}
    </form>
</div> {% endcomment %}
<script>
    operation = {{operation}}
    {% if unStockedItems %}
        let unStockedItems = {{ unStockedItems | safe }}
    {% endif %}
    $(function() {
        $('#stock-form').submit(function(e) {
            e.preventDefault();
            let codeInput = document.querySelector('#code')
            let serialInput = document.querySelector('#serial_number')
            if((operation == 1 && (codeInput.value.length > 0 || serialInput.value.length > 0)) || operation == 2){
                codeInput.removeAttribute('required')
                serialInput.removeAttribute('required')
            }
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                url: "{% url 'add-stock' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert("An error occured ", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-success err-msg ")
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.html(resp.msg)
                    } else {
                        el.text("An error occured ", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal ").scrollTop(0);
                    end_loader()
                }
            })
        })
        if(operation == 1){
            $('#item').on('change', function(e){
                let codeInput = document.querySelector('#code')
                let serialInput = document.querySelector('#serial_number')
                let foundItem = unStockedItems.filter(item => item.id == e.target.value)[0]
                console.log(unStockedItems)
                if(foundItem.code != null && foundItem.code != ""){
                    codeInput.value = foundItem.code
                }else{
                    codeInput.value = ""
                }
                if(foundItem.serial_number != null && foundItem.serial_number != ""){
                    serialInput.value = foundItem.serial_number
                }else{
                    serialInput.value = ""
                }
            })
            let zoneSelect = document.querySelector('#zone')
            let optionalInputs = document.querySelector('.optionalInputs')
            zoneSelect.addEventListener('change', (e)=>{
                if(e.target.value != 'All'){
                    if(optionalInputs.classList.contains('hidden')){
                        optionalInputs.classList.remove('hidden')
                    }
                }else{
                    if(!optionalInputs.classList.contains('hidden')){
                        optionalInputs.classList.add('hidden')
                    }
                }
            })
        }else{
            
        }
    })
    alertDiv = document.querySelector('.guide-message')
    itemInput = document.querySelector('#itemSelector')
    itemOptionsContainer = document.querySelector('.itemOptionsContainer')
    selecteditemId = document.querySelector('#selectedItemId')
    if (itemOptionsContainer != null){
        let itemOptions = [...itemOptionsContainer.children]
        itemInput.addEventListener('focus', (e)=>{
            if(alertDiv.childNodes.length > 0){
                alertDiv.classList.remove('alert-danger')
                alertDiv.innerHTML = ""
            }
            itemInput.value = ""
            setTimeout(()=>{itemOptionsContainer.removeAttribute('hidden')}, 150)
            itemOptionsContainer.innerHTML = ""
            itemOptions.forEach(value =>{
                    itemOptionsContainer.appendChild(value)
                })
        })
        itemInput.addEventListener('focusout', (e)=>{
            setTimeout(()=>{itemOptionsContainer.setAttribute('hidden', '')}, 150)
        })
        itemInput.addEventListener('input', (e)=>{
            itemOptionsContainer.innerHTML = ""
            if (itemInput.value.length > 0){
                let newValues = itemOptions.filter((element) => element.innerHTML.toLocaleLowerCase().includes(itemInput.value.toLocaleLowerCase()))
                if(newValues.length > 0){
                    newValues.forEach(value =>{
                        itemOptionsContainer.appendChild(value)
                    })
                }else{
                    let emptyPar = document.createElement('p')
                    emptyPar.appendChild(document.createTextNode('There is no matching items'))
                    emptyPar.classList.add('option')
                    emptyPar.setAttribute('disabled', '')
                    itemOptionsContainer.appendChild(emptyPar)
                }
            }else{
                itemOptions.forEach(value =>{
                    itemOptionsContainer.appendChild(value)
                })
            }
        })
        itemOptions.forEach(option =>{
            option.addEventListener('click', (e)=>{
                itemInput.value = e.target.innerHTML
                selecteditemId.value = e.target.dataset.id
                itemOptionsContainer.innerHTML = ""
                itemOptions.forEach(value =>{
                    itemOptionsContainer.appendChild(value)
                })
            })
        })
    }
</script>