<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url "index" %}"> LST IMS </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-expanded="false"
                aria-controls="navbarNav" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'item_list' %}">Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stock' %}">Stock</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Purchases</a>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex">
                    <a class="nav-link" href="#">{{ user.username }}</a>
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </ul>
            </div>
        {% else %}
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>
