{% extends "inventory/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="row">
		<div class="col-11 col-md-4 mx-auto mt-5">
			<div class="card card-default rounded-0 shadow">
				<div class="card-header text-center">
					<h3 class="card-title"><b>Sign Up</b></h3>
				</div>
				<div class="card-body">
					<div class="container-fluid">
						{% if form.errors %}
							<div class="alert alert-warning alert-dismissible fade show" role="alert">
							Your Form Has Errors
							{% for field in form %}
								{% if field.errors %}
									{{ field.errors|escape }}
								{% endif %}
							{% endfor %}
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						{% endif %}
						<form method="post">
							{% csrf_token %}
							{{ form|crispy }}
							<button class="btn btn-outline-dark" type="submit">Sign Up</button>
						</form>
					</div>
				</div>
				<div class="card-footer">
					<small class="text-muted">Already have an account? <a href="{% url 'login' %}" class="ml-2">Log In</a></small>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}