{% extends 'inventory/base.html' %}

{% block content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card card-default rounded-0 shadow ">
        <div class="card-header">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <h4 class="card-title fw-bold">Stock Info</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <table class="table table-bordered" id="stock-list">
                    {% comment %} <colgroup>
                        <col width="5%">
                        <col width="35%">
                        <col width="35%">
                        <col width="25%">
                    </colgroup> {% endcomment %}
                    <thead>
                        <tr class="bg-gradient bg-primary bg-opacity-50 text-light">
                            <th class="px-2 py-2 text-center">#</th>
                            <th class="px-2 py-2 text-center">Product</th>
							<th class="px-2 py-2 text-center">Location</th>
                            <th class="px-2 py-2 text-center">Available Stock</th>
							<th class="px-2 py-2 text-center">Category</th>
                            <th class="px-2 py-2 text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
						{% if stocks|length == 0 %}
						<tr>
							<th scope="row">-</th>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td></td>
						</tr>
						{% endif %}
						{% for stock in stocks %}
						<tr>
							<th class="text-center" scope="row">{{ forloop.counter }}</th>
							<td class="text-center"><a href="{% url 'stock_record' stock.pk%}">{{ stock.item }}</a></td>
							<td class="text-center">{{ stock.area }} {{ stock.shelf }}</td>
							<td class="text-center">{{ stock.item.count_inventory }}</td>
							{% comment %} {% if item.id in low_inventory_ids %}
								<td class="text-danger">{{ item.quantity }}</td>
							{% else %}
								<td class="text-success">{{ item.quantity }}</td>
							{% endif %} {% endcomment %}
							<td class="text-center">{{ stock.item.category.name }}</td>
							<td class="text-center"><a href="#" class="btn btn-outline-secondary">Edit</a>
							<a href="#" class="btn btn-secondary">Delete</a></td>
						</tr>
						{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block ScriptBlock %}
<script>
    $(document).ready(function() {
        $('#stock-list').DataTable({
            columnDefs: [{
                orderable: false,
                targets: 5
            }],
        });
    });
</script>
{% endblock ScriptBlock %}