{% load humanize %}
<h5>General Information</h5>
<div class="itemContent">
    <ul class="list-group list-group-flush ul-left">
        <li class="list-group-item"><strong>Group</strong> <br> {{ stock.item.group.name }}</li>
        <li class="list-group-item"><strong>Code</strong> <br> {% if stock.item.code is not None and stock.item.code != '' %}{{stock.item.code}}{% else %}None{% endif %}</li>
        <li class="list-group-item"><strong>Serial Number</strong> <br> {% if stock.item.serial_number is not None and stock.item.serial_number != '' %}{{stock.item.serial_number}}{% else %}None{% endif %}</li>
    </ul>
    <ul class="list-group list-group-flush ul-right">
        <li class="list-group-item"><strong>Location</strong> <br> {% if stock.zone.location is not None %}{{ stock.zone.location.name }}{% else %}{{ stock.zone.location }}{% endif %}</li>
        <li class="list-group-item"><strong>Zone</strong> <br> {% if stock.zone is not None %}{{ stock.zone.name }}{% else %}{{ stock.zone }}{% endif %}</li>
        <li class="list-group-item"><strong>Total group quantity</strong> <br> {{ stock.count_inventory}}</li>
    </ul>
</div> 
<div class="mt-3 d-flex justify-content-center oldPill {% if not stock.old %}hidden{% endif %}">
    <p class="text-center justify-content-center text-white edit bg-dark rounded-pill w-25">Old</p>
</div>
<h5>Stock movements</h5>
<table class="table table-sm table-responsive table-hover" style="width:100%" id="stock-movements"> {% comment %} display compact {% endcomment %}
    <thead class="">
        <tr class="">
            <th class="text-center dark-text">#</th>
            <th class="text-center dark-text">Date</th>
            <th class="text-center dark-text">Quantity</th>
            <th class="text-center dark-text">Type</th>
            <th class="text-center dark-text">User</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stock_entries %}
            <tr>
                <td class="align-canter text-center light-text">{{ forloop.counter }}</td>
                <td class="align-canter text-center light-text" id="{{stock.item.id}}">{{stock.created_at | date:"d/m/Y"}}</td>
                <td class="align-canter text-center light-text">{{stock.quantity}}</td>
                <td class="align-canter text-center light-text"><div class="{{stock.stock_type.name | cut:" "}}">{{stock.stock_type.name}}</div></td>
                <td class="align-canter text-center light-text">{{stock.user}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
